
/*HOME*/

html {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F4FC;
    scroll-behavior: smooth;
    justify-content: center;
    display: flex;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;    
    color: #292e47;
}

h3 {
    color: #292e47;
    font-size: 32px;
}

h4 {
    color: #292e47;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

p {
    color: #292e47;
}

.button-top {
    width: 50px;
    border: none;
    position: fixed;
    transform: translateY(100px);
    opacity: 0;
    bottom: 30px;
    right: 30px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.8s;
}

.button-top-on {
    transform: translateY(0);
    opacity: 1;
    transition: 0.8s;
}

.body-home {
    margin: 0px 30px auto;
    padding: 0;
    max-width: 1200px;
    min-width: 700px;
}

header {
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}

.nav-list {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0px 0px 0px 0px;   
    width: 250px;
    justify-content: space-between;
    font-weight: 900;
}

.header-buttons-a {
    text-decoration: none;
    color: #072AC8;
}

.header-buttons-a:hover {
    text-decoration: underline;
}

.button-contact {
    background-color: #072AC8;
    color: white;
    text-decoration: none;
    font-weight: 500;
    width: 120px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 17px;
}

.button-contact:hover {
    color: #ffc600;
    transition: 0.3s;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-container {
    display: flex;
    padding: 60px 0px 0px 0px;
    height: 480px;
    align-items: center;
    margin: 0px auto;
    max-width: 1000px;    
}

.hero-subtitle {
    font-size: 24px;
    color: #292e47;
}

.hero-images {
    height: 540px;
    margin: 30px 10px;
}

.card-1 {
    height: 50%;
    position: relative;
    bottom: 490px;
    right: 20px;
}

.hero-image {
    max-height: 480px;
    position: relative;
    left: 15px;
    top: 20px;
}

.card-2 {
    height: 48%;
    position: relative;
    left: 270px;
    bottom: 440px;
}

.hero-buttons-style {
    align-items: center;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.get-in-touch {
    background-color: #072AC8;
    color: white;
    text-decoration: none;
    font-weight: 500;
    width: 120px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
}

.get-in-touch:hover {
    color: #ffc600;
    transition: 0.3s;
}

.see-our-work {
    text-decoration: none;
    color: #6b708d;
    font-weight: 700;
    padding-left: 20px;
    font-size: 15px;
}

.see-our-work:hover {
    text-decoration: underline;
    color: rgb(7, 42, 200);
}

.logos-all {
    padding: 120px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
}

.logo {
    filter:saturate(0)
}

.logo:hover {
    filter: none;
    transition: 0.5s;
}

#recent-projects {
    padding: 100px 0px 150px 0px;
    margin: 0 auto;
    max-width: 1000px;
}

.projects-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0px 0px 0px;
}

.project-card-1 {
    background-color: white;
    width: 31%;
    height: 380px;
    margin: 0px;
    padding: 0;
}

.anchor-card-1 {
    text-decoration: none;
}

.project-card-1:hover {
    box-shadow: 0px 20px 60px rgba(7, 42, 200, 0.15);
    transition: box-shadow 0.5s ease;
}

.project-card-1-text {
    padding: 10px 0px 40px 20px;
}

.project-card-1-title {
    text-decoration: none;
}

.p-card-1 {
    text-decoration: none;
    color: #6b708d;
}

.img-project {
    width: 100%;
    height: 55%;
}

.learn-more {
    text-decoration: none;
    color: #072AC8;
    font-weight: 700;
    padding: 0px 0px 0px 20px;
}

.learn-more:hover {
    text-decoration: underline;
}

#clients {
    height: 450px;
    text-align: center;
    max-width: 1200px;
}

.testimonial-container {
    background-image: url(https://raw.githubusercontent.com/borjagonz/PROJECT-1/refs/heads/main/testimonial-section/orbit.png);
    background-size: cover;
    background-position: center;
    background-color: #292e47;
}

.clients-testimony {
    align-content: center;    
}

.text-background {
    background-color: #292e47;
    padding-bottom: 20px;
    padding-top: 0;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-profile {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.client-info {
    padding-left: 20px;
    text-align: left;
    line-height: 0.3em;
}

.client-name {
    color: #a2d6f9;
}

.client-company {
    color: white;
}

.clients-title {
    margin-top: 0px;
    padding-top: 30px;
    color:  white;
    font-size: 40px;
}

.clients-subtitle {
    color: #ffc600;
    font-size: 24px;
}

.memojis-top {
    display: flex;
    justify-content: space-between;
    margin: 0px 60px;
    padding-top: 20px;
    align-content: center;
}

.memojis-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0px 60px;
    padding-bottom: 20px;
    align-content: center;
}

.memoji-1 {
    width: 7%;
}

.memoji-2 {
    width: 7%;
}

.memoji-3 {
    width: 7%;
}

.memoji-4 {
    width: 7%;
}

#our-services {
    padding: 100px 0px 120px 0px;
    margin: 0 auto;
    max-width: 1000px;
}

.services-cards {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
}

.service-card-2:hover {
    box-shadow: 0px 20px 60px rgba(7, 42, 200, 0.15);
    transition: box-shadow 0.5s ease;
}

.service-card-2 {
    background-color: white;
    width: 31%;
    height: 380px;
    margin: 0;
    padding: 30px 0x 0px 0px;
}

.service-card-2-text {
    padding: 20px; 
    margin-bottom: 45px
}

.p-card-2 {
    color: #6b708d;
}

.icon-background {
    margin: 30px 0px 0px 20px;
    padding: 10px;
    background-color: #d1edff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#questions {
    background-color: #ffc600;
    height: 400px;
    text-align: center;
    margin-bottom: 120px;
}

.questions-title {
    padding-top: 70px;
    font-size: 40px;
}

.questions-subtitle {
    font-size: 30px;
    padding-bottom: 40px;
    line-height: 0px
}

.form-group {
    align-items: center;
    display: flex;    
    justify-content: center;
}

.icon-newsletter {
    position: relative;
    left: 50px;
    fill: #072AC8;
}

.input-email {
    height: 58px;
    stroke-width: 0;
    width: 450px;
    border-width: 0px;    
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.suscribe-button {
    background-color: #072AC8;
    height: 60px;
    width: 180px;
    font-size: 20px;
    color: white;
    border: none;
    padding: 0;
    margin: 20px;
}

.suscribe-button:hover {
    color: #ffc600;
    cursor: pointer;
    transition: 0.3s;
}
   
.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1000px;
    min-width: none;
    margin: 0 auto;
    padding-bottom: 40px;
    
}

.links-container {
    width: 50%;
}

.footer-links-2 {
    margin: 10px 0px;
}

.footer-links {
    justify-items: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0 auto;
    
}

.link {
    text-decoration: none;
    color: #292e47;
    font-size: 17px;
    padding: 5px;
    width: 100%;
}

.link:hover {
    text-decoration: underline;
    color: #072AC8;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #072AC8;
}

.open-menu,
.close-menu {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 900px){
    .hero-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 760px;
        min-width: 481px;
    }

    .card-1{
        display: none;
        
    }

    .card-2 {
        display: none;
    }

    .logos-all{
        padding-top: 450px;
    }
}


@media screen and (min-width: 481px) and (max-width: 768px){

    .body-home{
        max-width: 768px;
        min-width: 400px;
        margin: 0px 30px auto;
        padding: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        max-width: 768px;
        min-width: 400px;
        margin: 0 auto;
    }

    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .open-menu {
        color: #072AC8;
    }

    .close-menu {
        color: #072AC8;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #F2F4FC;
        padding: 30px;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        width: 50%;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .button-contact {
        position: absolute;
        top: 200px;
        right: 30px;
        opacity: 0;
        visibility: hidden;
    }

    .hero {
        max-width: 768px;
        min-width: 400px;
        height: 550px;
    }

    .hero-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 768px;
        min-width: 400px;
    }

    .hero-image {
        position: static;
        max-height: 500px;
        min-height: 400px;
        margin: 30px;
    }

    .card-1 {
        display: none;
    }

    .card-2 {
        display: none;
    }

    .logos-all {
        max-width: 768px;
        padding-top: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        padding: 0px 50px 50px 50px;
    }

    #recent-projects {
        max-width: 720px;
        min-width: 481px;
        margin: 0;
        padding: 50px 0px 80px 0px;
    }

    .project-card-1 {
        max-width: 720px;
        min-width: 400px;
        margin-bottom: 30px;
    }

    .project-card-1-text {
        padding: 10px 0px 40px 20px;
    }

    #clients {
        max-width: 720px;
        min-width: 400px;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .clients-testimony{
        margin: 0px 30px;
    }

    .testimonial-container {
        max-width: 768px;
        min-width: 400px;
    }

    .memoji-1 {
        display: none;
    }

    .memoji-2 {
        display: none;
    }

    .memoji-3 {
        display: none;
    }

    .memoji-4 {
        display: none;
    }

    #our-services {
        max-width: 720px;
        min-width: 400px;
        margin: 0;
        padding: 80px 0px 80px 0px;
    }

    .services-cards {
        flex-wrap: wrap;
    }

    .service-card-2 {
        max-width: 720px;
        min-width: 400px;
        height: 320px;
        margin-bottom: 30px;
    }

    #questions {
        max-width: 720px;
        min-width: 420px;
        margin: 0;
    }

    .questions-title {
        margin: 0px 20px;
    }

    .footer{
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        max-width: 720px;
        min-width: 400px;
        text-align: center;
        justify-content: center;
    }

    .link {
        text-align: center;
        margin-bottom: 50px;
    }

    .links-container {
        width: 100%;
        padding-top: 20px;
    }
    
}

@media screen and (min-width: 0px) and (max-width: 480px){
    
    .html {
        display: flex;
        justify-content: center;
    }

    .body-home{
        max-width: 480px;
        min-width: 400px;
        margin: 0px 30px auto;
        padding: 0;
    }

    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .button-contact {
        position: absolute;
        top: 200px;
        right: 30px;
        opacity: 0;
        visibility: hidden;
    }

    .open-menu {
        color: #072AC8;
    }

    .close-menu {
        color: #072AC8;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #F2F4FC;
        padding: 30px;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        width: 50%;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .hero-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 480px;
        margin: 0 auto;
        padding: 0;
    }
    
    .hero{
        padding: 0;
        margin: 0 auto;
        max-width: 480px;
        height: 750px;
    }

    .hero-textbox {
        padding-bottom: 40px;
        max-width: 480px;
    }

    .hero-image {
        position: static;
        max-width: 350px;
        max-height: 350px;
        padding-top: 10px;
        padding-bottom: 80px;
    }

    .hero-images {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    }

    .card-1 {
        display: none;
    }

    .card-2{
        display: none;
    }

    .logos-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        max-width: 450px;
        padding-top: 100px;
    }

    .logo {
        padding: 20px;
    }

    #recent-projects {
        max-width: 480px;
        margin: 0 auto;
        margin-bottom: 80px;
        padding: 30px 0px 0px 0px;
    }

    .project-card-1 {
        background-color: white;
        width: 420px;
        height: 350px;
        margin-bottom: 30px;
    }

    .project-card-1-text {
        padding-bottom: 30px;
    }

    #our-services {
        max-width: 480px;
        margin: 0 auto;
        margin-bottom: 80px;
        padding: 30px 0px 0px 0px;
    }
    
    .services-cards{
        display: flex;
        flex-wrap: wrap;
        max-width: 480px;
    }

    .service-card-2 {
        background-color: white;
        width: 420px;
        height: 320px;
        margin-bottom: 30px;
    }

    #clients {
        max-width: 480px;
        margin: 0;
        height: auto;
    }

    .testimonial-container {
        padding: 30px 0px 60px 0px;
    }

    .text-background {
        margin: 0px 20px;
    }

    .memojis-top {
        display: none;
    }

    .memojis-bottom {
        display: none;
    }


    .clients-subtitle {
        font-size: 16px;
    }

    #questions {
        max-width: 480px;
        margin: 0;
        height: auto;
    }

    .footer{
        max-width: 480px;
        display: grid;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        padding-top: 50px;
    }

    .link {
        text-align: center;        
    }

    .links-container {
        width: 100%;
        padding-top: 20px;
    }

    .button-top {
        display: none;
    }

    .button-top-on {
        display: none;
    }
}

/*CONTACT*/

.body-contact {
    margin: 0px 30px auto;
    padding: 0;
    max-width: 1000px;
    min-width: 720px;
    justify-content: center;
}

.header-contact {
    max-width: 1000px;
    min-width: 720px;
}

.contact-form {
    padding: 20px 0px 120px 0px;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 720px;
}

#contact-form {
    max-width: 1000px;
    min-width: 650px;
}

.form-group-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 40px;
    max-width: 1000px;
    min-width: 650px;
}

.form-title {
    margin-bottom: 30px;
}

.name {
    width: 98%;
    min-width: 0px;
}

.form-name {
    height: 60px;
    width: 100%;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0px;    
    text-align: left;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.email {
    width: 100%;
    min-width: 0px;
}

.email-phone {
    display: flex;
    width: 100%;
    min-width: 0px;
}

.form-email {
    width: 91%;
    height: 60px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0px;    
    text-align: left;
    font-size: 14px;
    color: #6b708d;
    font-family: 'Roboto', sans-serif;
}

.phone {
    width: 100%;
}

.form-phone {
    height: 60px;
    width: 92%;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0px;    
    text-align: left;
    font-size: 14px;
    color: #6b708d;
    font-family: 'Roboto', sans-serif;
}

.phone-number-title {
    margin-left: 20px;
}

.message {
    width: 98%;
    min-width: 0px;
}

.message-box {
    height: 60px;
    width: 100%;
    height: 200px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0px;    
    text-align: left;
    text-align: start;
    font-size: 14px;
    color: #6b708d;
    font-family: 'Roboto', sans-serif;
}

.submit-form {
    background-color: #072AC8;
    height: 60px;
    width: 100%;
    font-size: 20px;
    color: white;
    border: none;
    padding: 0;
    margin-top: 30px;
}

.submit-form:hover {
    color: #ffc600;
    cursor: pointer;
    transition: 0.3s;
}

.header-buttons-b {
    text-decoration: none;
    color: #6b708d;
}

.header-buttons-b:hover {
    text-decoration: underline;
    color: #072AC8;
}

@media screen and (min-width: 481px) and (max-width: 768px){

    .body-contact {
        max-width: 768px;
        min-width: 400px;
        margin: 0px 30px auto;
        padding: 0;
    }

    .header-contact {
        display: flex;
        justify-content: space-between;
        max-width: 768px;
        min-width: 400px;
        margin: 0 auto;
    }

    

    .contact-form {
        padding: 20px 0px 120px 0px;
        margin: 0 auto;
        max-width: 768px;
        min-width: 400px;
    }

    .form-group-contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin-top: 40px;
        max-width: 768px;
        min-width: 400px;
    }

}

@media screen and (min-width: 0px) and (max-width: 481px){

    .body-contact {
        max-width: 481px;
        min-width: 400px;
        margin: 0px 30px auto;
        padding: 0;
    }

    .header-contact {
        display: flex;
        justify-content: space-between;
        max-width: 481px;
        min-width: 400px;
        margin: 0 auto;
    }

    .contact-form {
        padding: 20px 0px 120px 0px;
        margin: 0 auto;
        max-width: 481px;
        min-width: 400px;
    }

    .form-group-contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin-top: 40px;
        max-width: 481px;
        min-width: 400px;
    }

}


/*PROJECT*/

.body-project {
    margin: 0px 30px;
    padding: 0;
    max-width: 1000px;
    min-width: 700px;
    justify-content: center
}

.project-group-extended {
    padding: 60px 0px 0px 0px;
    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;
}

.project-container {
    max-width: 1000px;
    min-width: 700px;
}

.project-img-extended {
    width: 100%;
    box-shadow: 0px 20px 60px rgba(7, 42, 200, 0.3);
    margin-bottom: 40px;
}

.subtitle-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.subtitle-project {
    font-size: 24px;
    color: #6b708d;
}

.project-completed {
    font-size: 17px;
}

.project-date {
    font-size: 17px;
    margin-left: 5px;
    color: #6b708d;
}

.completed-date {
    display: flex;
}

.project-text {
    font-size: 17px;
    color: #6b708d;
}

#other-projects {
    padding: 50px 0px 80px 0px;
    margin: 0 auto;
    max-width: 1000px;
}

@media screen and (min-width: 481px) and (max-width: 768px){

    .body-project {
        margin: 0px 30px;
        padding: 0;
        max-width: 768px;
        min-width: 481px;
        justify-content: center
    }
    
    .project-group-extended {
        padding: 60px 0px 0px 0px;
        max-width: 768px;
        min-width: 400px;
        margin: 0 auto;
    }
    
    .project-container {
        max-width: 768px;
        min-width: 400px;
    }    
    
    .subtitle-project {
        margin-right: 20px;
        width: 40%;
    }
    
    .project-completed {
        margin: 24px 0px;
    }

    .project-date {
        margin: 24px 0px;
        margin-left: 20px;
    }

}

@media screen and (min-width: 0px) and (max-width: 481px){

    .body-project {
        margin: 0px 30px;
        padding: 0;
        max-width: 480px;
        min-width: 400px;
        justify-content: center
    }
    
    .project-group-extended {
        padding: 60px 0px 0px 0px;
        max-width: 480px;
        min-width: 400px;
        margin: 0 auto;
    }
    
    .project-container {
        max-width: 480px;
        min-width: 400px;
    }    

    .subtitle-project {
        margin-right: 20px;
        width: 45%;
        font-size: 20px
    }

    .project-completed {
        margin: 24px 0px;
        font-size: 14px;
    }

    .project-date {
        margin: 24px 0px;
        font-size: 14px;
        margin-left: 10px;
    }

}
